openapi: 3.0.3
info:
  title: API Управляемых сервисов
  version: v1.3.1
servers:
- url: https://api.beget.com
security:
- bearerAuth: []
tags:
- name: CloudService
- name: MysqlService
- name: MysqlStatisticService
- name: PostgresqlService
- name: PostgresqlStatisticService
paths:
  /v1/cloud:
    get:
      operationId: CloudService_GetList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_GetListResponse'
          description: OK
      tags:
      - CloudService
    post:
      operationId: CloudService_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_CreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_CreateResponse'
          description: OK
      tags:
      - CloudService
  /v1/cloud/configuration:
    get:
      operationId: CloudService_GetConfigurationList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_GetConfigurationListResponse'
          description: OK
      tags:
      - CloudService
  /v1/cloud/mysql/{service_id}/config:
    get:
      operationId: MysqlService_GetConfig
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_GetConfigResponse'
          description: OK
      tags:
      - MysqlService
    put:
      operationId: MysqlService_SetConfig
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mysql_SetConfigRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_SetConfigResponse'
          description: OK
      tags:
      - MysqlService
  /v1/cloud/mysql/{service_id}/db:
    get:
      operationId: MysqlService_GetDbList
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_GetDbListResponse'
          description: OK
      tags:
      - MysqlService
    post:
      operationId: MysqlService_CreateDb
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mysql_CreateDbRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_CreateDbResponse'
          description: OK
      tags:
      - MysqlService
  /v1/cloud/mysql/{service_id}/db/{db_name}:
    delete:
      operationId: MysqlService_RemoveDb
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: db_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_RemoveDbResponse'
          description: OK
      tags:
      - MysqlService
    patch:
      operationId: MysqlService_UpdateDb
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: db_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mysql_UpdateDbRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_UpdateDbResponse'
          description: OK
      tags:
      - MysqlService
  /v1/cloud/mysql/{service_id}/db/{db_name}/access:
    post:
      operationId: MysqlService_CreateAccess
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: db_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mysql_CreateAccessRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_CreateAccessResponse'
          description: OK
      tags:
      - MysqlService
  /v1/cloud/mysql/{service_id}/db/{db_name}/access/{host}:
    delete:
      operationId: MysqlService_RemoveAccess
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: db_name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: host
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_RemoveAccessResponse'
          description: OK
      tags:
      - MysqlService
    patch:
      operationId: MysqlService_ChangeAccessPassword
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: db_name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: host
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mysql_ChangeAccessPasswordRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mysql_ChangeAccessPasswordResponse'
          description: OK
      tags:
      - MysqlService
  /v1/cloud/mysql/{service_id}/statistic/cpu:
    get:
      operationId: MysqlStatisticService_GetCpu
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MysqlStatistic_GetCpuResponse'
          description: OK
      tags:
      - MysqlStatisticService
  /v1/cloud/mysql/{service_id}/statistic/cpu-details:
    get:
      operationId: MysqlStatisticService_GetCpuDetails
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MysqlStatistic_GetCpuDetailsResponse'
          description: OK
      tags:
      - MysqlStatisticService
  /v1/cloud/mysql/{service_id}/statistic/disk:
    get:
      operationId: MysqlStatisticService_GetDisk
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MysqlStatistic_GetDiskResponse'
          description: OK
      tags:
      - MysqlStatisticService
  /v1/cloud/mysql/{service_id}/statistic/disk-usage:
    get:
      operationId: MysqlStatisticService_GetDiskUsage
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MysqlStatistic_GetDiskUsageResponse'
          description: OK
      tags:
      - MysqlStatisticService
  /v1/cloud/mysql/{service_id}/statistic/load-average:
    get:
      operationId: MysqlStatisticService_GetLoadAverage
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MysqlStatistic_GetLoadAverageResponse'
          description: OK
      tags:
      - MysqlStatisticService
  /v1/cloud/mysql/{service_id}/statistic/memory:
    get:
      operationId: MysqlStatisticService_GetMemory
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MysqlStatistic_GetMemoryResponse'
          description: OK
      tags:
      - MysqlStatisticService
  /v1/cloud/mysql/{service_id}/statistic/network:
    get:
      operationId: MysqlStatisticService_GetNetwork
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MysqlStatistic_GetNetworkResponse'
          description: OK
      tags:
      - MysqlStatisticService
  /v1/cloud/postgresql/{service_id}/config:
    get:
      operationId: PostgresqlService_GetConfig
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgGetConfigResponse'
          description: OK
      tags:
      - PostgresqlService
    put:
      operationId: PostgresqlService_SetConfig
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Postgresql_PgSetConfigRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgSetConfigResponse'
          description: OK
      tags:
      - PostgresqlService
  /v1/cloud/postgresql/{service_id}/db:
    get:
      operationId: PostgresqlService_GetDbList
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgGetDbListResponse'
          description: OK
      tags:
      - PostgresqlService
    post:
      operationId: PostgresqlService_CreateDb
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Postgresql_PgCreateDbRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgCreateDbResponse'
          description: OK
      tags:
      - PostgresqlService
  /v1/cloud/postgresql/{service_id}/db/{db_name}:
    delete:
      operationId: PostgresqlService_RemoveDb
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: db_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgRemoveDbResponse'
          description: OK
      tags:
      - PostgresqlService
    patch:
      operationId: PostgresqlService_UpdateDb
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: db_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Postgresql_PgUpdateDbRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgUpdateDbResponse'
          description: OK
      tags:
      - PostgresqlService
  /v1/cloud/postgresql/{service_id}/remote-access:
    get:
      operationId: PostgresqlService_GetRemoteAccess
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgGetRemoteAccessResponse'
          description: OK
      tags:
      - PostgresqlService
    put:
      operationId: PostgresqlService_UpdateRemoteAccess
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Postgresql_PgUpdateRemoteAccessRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgUpdateRemoteAccessResponse'
          description: OK
      tags:
      - PostgresqlService
  /v1/cloud/postgresql/{service_id}/role:
    get:
      operationId: PostgresqlService_GetRoleList
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgGetRoleListResponse'
          description: OK
      tags:
      - PostgresqlService
    post:
      operationId: PostgresqlService_CreateRole
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Postgresql_PgCreateRoleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgCreateRoleResponse'
          description: OK
      tags:
      - PostgresqlService
  /v1/cloud/postgresql/{service_id}/role/{role_name}:
    delete:
      operationId: PostgresqlService_RemoveRole
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: role_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgRemoveRoleResponse'
          description: OK
      tags:
      - PostgresqlService
    patch:
      operationId: PostgresqlService_UpdateRole
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: role_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Postgresql_PgUpdateRoleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgresql_PgUpdateRoleResponse'
          description: OK
      tags:
      - PostgresqlService
  /v1/cloud/postgresql/{service_id}/statistic/cpu:
    get:
      operationId: PostgresqlStatisticService_GetCpu
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresqlStatistic_GetCpuResponse'
          description: OK
      tags:
      - PostgresqlStatisticService
  /v1/cloud/postgresql/{service_id}/statistic/cpu-details:
    get:
      operationId: PostgresqlStatisticService_GetCpuDetails
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresqlStatistic_GetCpuDetailsResponse'
          description: OK
      tags:
      - PostgresqlStatisticService
  /v1/cloud/postgresql/{service_id}/statistic/disk:
    get:
      operationId: PostgresqlStatisticService_GetDisk
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresqlStatistic_GetDiskResponse'
          description: OK
      tags:
      - PostgresqlStatisticService
  /v1/cloud/postgresql/{service_id}/statistic/disk-usage:
    get:
      operationId: PostgresqlStatisticService_GetDiskUsage
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresqlStatistic_GetDiskUsageResponse'
          description: OK
      tags:
      - PostgresqlStatisticService
  /v1/cloud/postgresql/{service_id}/statistic/load-average:
    get:
      operationId: PostgresqlStatisticService_GetLoadAverage
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresqlStatistic_GetLoadAverageResponse'
          description: OK
      tags:
      - PostgresqlStatisticService
  /v1/cloud/postgresql/{service_id}/statistic/memory:
    get:
      operationId: PostgresqlStatisticService_GetMemory
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresqlStatistic_GetMemoryResponse'
          description: OK
      tags:
      - PostgresqlStatisticService
  /v1/cloud/postgresql/{service_id}/statistic/network:
    get:
      operationId: PostgresqlStatisticService_GetNetwork
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresqlStatistic_GetNetworkResponse'
          description: OK
      tags:
      - PostgresqlStatisticService
  /v1/cloud/{service_id}:
    delete:
      operationId: CloudService_Remove
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_RemoveResponse'
          description: OK
      tags:
      - CloudService
    get:
      operationId: CloudService_Get
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_GetResponse'
          description: OK
      tags:
      - CloudService
    patch:
      operationId: CloudService_Update
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_UpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_UpdateResponse'
          description: OK
      tags:
      - CloudService
  /v1/cloud/{service_id}/configuration:
    patch:
      operationId: CloudService_ChangeConfiguration
      parameters:
      - explode: false
        in: path
        name: service_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_ChangeConfigurationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_ChangeConfigurationResponse'
          description: OK
      tags:
      - CloudService
components:
  schemas:
    Cloud_ChangeConfigurationRequest:
      properties:
        service_id:
          type: string
        configuration_id:
          type: string
      type: object
    Cloud_ChangeConfigurationResponse:
      example:
        service:
          price_month: 6.027456183070403
          description: description
          created_at: created_at
          mysql8:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 3
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 9
              param_default:
                key: param_default
              version: version
              cpu_count: 7
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          monitorable_resources:
          - monitorable_resources
          - monitorable_resources
          display_name: display_name
          mysql5:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 5
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 5
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          postgresql14:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 7
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 6
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          unblocking: true
          price_day: 0.8008281904610115
          id: id
          manage_enabled: true
          postgresql15:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 1
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 7
              param_default:
                key: param_default
              version: version
              cpu_count: 4
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          region: region
          configuration_id: configuration_id
          slug: slug
          migrating: true
          status: CREATING
        error:
          code: _
          message: message
      properties:
        service:
          $ref: '#/components/schemas/Cloud_Service'
        error:
          $ref: '#/components/schemas/Cloud_ChangeConfigurationResponse_Error'
      type: object
    Cloud_ChangeConfigurationResponse_Error:
      example:
        code: _
        message: message
      properties:
        message:
          type: string
        code:
          enum:
          - _
          - INVALID_STATE
          - SERVICE_DISABLED
          - INVALID_CONFIGURATION
          - INSUFFICIENT_FUNDS
          format: enum
          type: string
      type: object
    Cloud_CreateRequest:
      properties:
        configuration_id:
          type: string
        display_name:
          type: string
        description:
          type: string
        mysql_params:
          $ref: '#/components/schemas/Mysql_CreateParams'
        postgresql_params:
          $ref: '#/components/schemas/Postgresql_PgCreateParams'
        extra:
          type: string
        region:
          type: string
      type: object
    Cloud_CreateResponse:
      example:
        mysql_error:
          code: _
          message: message
        service:
          price_month: 6.027456183070403
          description: description
          created_at: created_at
          mysql8:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 3
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 9
              param_default:
                key: param_default
              version: version
              cpu_count: 7
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          monitorable_resources:
          - monitorable_resources
          - monitorable_resources
          display_name: display_name
          mysql5:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 5
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 5
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          postgresql14:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 7
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 6
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          unblocking: true
          price_day: 0.8008281904610115
          id: id
          manage_enabled: true
          postgresql15:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 1
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 7
              param_default:
                key: param_default
              version: version
              cpu_count: 4
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          region: region
          configuration_id: configuration_id
          slug: slug
          migrating: true
          status: CREATING
        postgresql_error:
          code: _
          message: message
      properties:
        service:
          $ref: '#/components/schemas/Cloud_Service'
        mysql_error:
          $ref: '#/components/schemas/Mysql_CreateError'
        postgresql_error:
          $ref: '#/components/schemas/Postgresql_PgCreateError'
      type: object
    Cloud_GetConfigurationListResponse:
      example:
        configuration:
        - postgresql14:
            memory: 7
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 6
            param_default:
              key: param_default
            version: version
            cpu_count: 1
          price_month: 6.027456183070403
          price_day: 0.8008281904610115
          mysql8:
            memory: 3
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 9
            param_default:
              key: param_default
            version: version
            cpu_count: 7
          id: id
          region: region
          mysql5:
            memory: 5
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 5
            param_default:
              key: param_default
            version: version
            cpu_count: 1
          postgresql15:
            memory: 1
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 7
            param_default:
              key: param_default
            version: version
            cpu_count: 4
        - postgresql14:
            memory: 7
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 6
            param_default:
              key: param_default
            version: version
            cpu_count: 1
          price_month: 6.027456183070403
          price_day: 0.8008281904610115
          mysql8:
            memory: 3
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 9
            param_default:
              key: param_default
            version: version
            cpu_count: 7
          id: id
          region: region
          mysql5:
            memory: 5
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 5
            param_default:
              key: param_default
            version: version
            cpu_count: 1
          postgresql15:
            memory: 1
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 7
            param_default:
              key: param_default
            version: version
            cpu_count: 4
      properties:
        configuration:
          items:
            $ref: '#/components/schemas/Cloud_ServiceConfiguration'
          type: array
      type: object
    Cloud_GetListResponse:
      example:
        service:
        - price_month: 6.027456183070403
          description: description
          created_at: created_at
          mysql8:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 3
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 9
              param_default:
                key: param_default
              version: version
              cpu_count: 7
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          monitorable_resources:
          - monitorable_resources
          - monitorable_resources
          display_name: display_name
          mysql5:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 5
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 5
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          postgresql14:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 7
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 6
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          unblocking: true
          price_day: 0.8008281904610115
          id: id
          manage_enabled: true
          postgresql15:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 1
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 7
              param_default:
                key: param_default
              version: version
              cpu_count: 4
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          region: region
          configuration_id: configuration_id
          slug: slug
          migrating: true
          status: CREATING
        - price_month: 6.027456183070403
          description: description
          created_at: created_at
          mysql8:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 3
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 9
              param_default:
                key: param_default
              version: version
              cpu_count: 7
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          monitorable_resources:
          - monitorable_resources
          - monitorable_resources
          display_name: display_name
          mysql5:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 5
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 5
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          postgresql14:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 7
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 6
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          unblocking: true
          price_day: 0.8008281904610115
          id: id
          manage_enabled: true
          postgresql15:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 1
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 7
              param_default:
                key: param_default
              version: version
              cpu_count: 4
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          region: region
          configuration_id: configuration_id
          slug: slug
          migrating: true
          status: CREATING
      properties:
        service:
          items:
            $ref: '#/components/schemas/Cloud_Service'
          type: array
      type: object
    Cloud_GetResponse:
      example:
        service:
          price_month: 6.027456183070403
          description: description
          created_at: created_at
          mysql8:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 3
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 9
              param_default:
                key: param_default
              version: version
              cpu_count: 7
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          monitorable_resources:
          - monitorable_resources
          - monitorable_resources
          display_name: display_name
          mysql5:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 5
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 5
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          postgresql14:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 7
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 6
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          unblocking: true
          price_day: 0.8008281904610115
          id: id
          manage_enabled: true
          postgresql15:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 1
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 7
              param_default:
                key: param_default
              version: version
              cpu_count: 4
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          region: region
          configuration_id: configuration_id
          slug: slug
          migrating: true
          status: CREATING
      properties:
        service:
          $ref: '#/components/schemas/Cloud_Service'
      type: object
    Cloud_RemoveResponse:
      example:
        success: "{}"
      properties:
        success:
          properties: {}
          type: object
      type: object
    Cloud_RemoveResponse_Success:
      properties: {}
      type: object
    Cloud_Service:
      example:
        price_month: 6.027456183070403
        description: description
        created_at: created_at
        mysql8:
          address_info:
            private:
            - network_id: network_id
              ip: ip
            - network_id: network_id
              ip: ip
            public:
            - ip: ip
            - ip: ip
          disk_used: disk_used
          configuration:
            memory: 3
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 9
            param_default:
              key: param_default
            version: version
            cpu_count: 7
          port: 2
          read_only: true
          host: host
          pma_installing: true
          pma_url: pma_url
          disk_left: disk_left
        monitorable_resources:
        - monitorable_resources
        - monitorable_resources
        display_name: display_name
        mysql5:
          address_info:
            private:
            - network_id: network_id
              ip: ip
            - network_id: network_id
              ip: ip
            public:
            - ip: ip
            - ip: ip
          disk_used: disk_used
          configuration:
            memory: 5
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 5
            param_default:
              key: param_default
            version: version
            cpu_count: 1
          port: 2
          read_only: true
          host: host
          pma_installing: true
          pma_url: pma_url
          disk_left: disk_left
        postgresql14:
          webui_installing: true
          address_info:
            private:
            - network_id: network_id
              ip: ip
            - network_id: network_id
              ip: ip
            public:
            - ip: ip
            - ip: ip
          disk_used: disk_used
          configuration:
            memory: 7
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 6
            param_default:
              key: param_default
            version: version
            cpu_count: 1
          port: 1
          read_only: true
          host: host
          webui_url: webui_url
          disk_left: disk_left
        unblocking: true
        price_day: 0.8008281904610115
        id: id
        manage_enabled: true
        postgresql15:
          webui_installing: true
          address_info:
            private:
            - network_id: network_id
              ip: ip
            - network_id: network_id
              ip: ip
            public:
            - ip: ip
            - ip: ip
          disk_used: disk_used
          configuration:
            memory: 1
            display_version: display_version
            param_config:
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            - string_value: "{}"
              set_value:
                value:
                - value
                - value
              name: name
              enum_value:
                value:
                - value
                - value
              float_value: "{}"
              integer_value: "{}"
              documentation_link: documentation_link
            disk_size: 7
            param_default:
              key: param_default
            version: version
            cpu_count: 4
          port: 1
          read_only: true
          host: host
          webui_url: webui_url
          disk_left: disk_left
        region: region
        configuration_id: configuration_id
        slug: slug
        migrating: true
        status: CREATING
      properties:
        id:
          type: string
        configuration_id:
          type: string
        display_name:
          type: string
        description:
          type: string
        status:
          enum:
          - CREATING
          - RUNNING
          - RESTARTING
          - STOPPED
          - RECONFIGURING
          format: enum
          type: string
        created_at:
          type: string
        price_day:
          format: double
          type: number
        price_month:
          format: double
          type: number
        mysql5:
          $ref: '#/components/schemas/Mysql_Mysql5'
        mysql8:
          $ref: '#/components/schemas/Mysql_Mysql8'
        postgresql15:
          $ref: '#/components/schemas/Postgresql_Postgresql15'
        postgresql14:
          $ref: '#/components/schemas/Postgresql_Postgresql14'
        manage_enabled:
          type: boolean
        slug:
          type: string
        monitorable_resources:
          items:
            type: string
          type: array
        unblocking:
          type: boolean
        migrating:
          type: boolean
        region:
          type: string
      type: object
    Cloud_ServiceConfiguration:
      example:
        postgresql14:
          memory: 7
          display_version: display_version
          param_config:
          - string_value: "{}"
            set_value:
              value:
              - value
              - value
            name: name
            enum_value:
              value:
              - value
              - value
            float_value: "{}"
            integer_value: "{}"
            documentation_link: documentation_link
          - string_value: "{}"
            set_value:
              value:
              - value
              - value
            name: name
            enum_value:
              value:
              - value
              - value
            float_value: "{}"
            integer_value: "{}"
            documentation_link: documentation_link
          disk_size: 6
          param_default:
            key: param_default
          version: version
          cpu_count: 1
        price_month: 6.027456183070403
        price_day: 0.8008281904610115
        mysql8:
          memory: 3
          display_version: display_version
          param_config:
          - string_value: "{}"
            set_value:
              value:
              - value
              - value
            name: name
            enum_value:
              value:
              - value
              - value
            float_value: "{}"
            integer_value: "{}"
            documentation_link: documentation_link
          - string_value: "{}"
            set_value:
              value:
              - value
              - value
            name: name
            enum_value:
              value:
              - value
              - value
            float_value: "{}"
            integer_value: "{}"
            documentation_link: documentation_link
          disk_size: 9
          param_default:
            key: param_default
          version: version
          cpu_count: 7
        id: id
        region: region
        mysql5:
          memory: 5
          display_version: display_version
          param_config:
          - string_value: "{}"
            set_value:
              value:
              - value
              - value
            name: name
            enum_value:
              value:
              - value
              - value
            float_value: "{}"
            integer_value: "{}"
            documentation_link: documentation_link
          - string_value: "{}"
            set_value:
              value:
              - value
              - value
            name: name
            enum_value:
              value:
              - value
              - value
            float_value: "{}"
            integer_value: "{}"
            documentation_link: documentation_link
          disk_size: 5
          param_default:
            key: param_default
          version: version
          cpu_count: 1
        postgresql15:
          memory: 1
          display_version: display_version
          param_config:
          - string_value: "{}"
            set_value:
              value:
              - value
              - value
            name: name
            enum_value:
              value:
              - value
              - value
            float_value: "{}"
            integer_value: "{}"
            documentation_link: documentation_link
          - string_value: "{}"
            set_value:
              value:
              - value
              - value
            name: name
            enum_value:
              value:
              - value
              - value
            float_value: "{}"
            integer_value: "{}"
            documentation_link: documentation_link
          disk_size: 7
          param_default:
            key: param_default
          version: version
          cpu_count: 4
      properties:
        id:
          type: string
        price_day:
          format: double
          type: number
        price_month:
          format: double
          type: number
        region:
          type: string
        mysql5:
          $ref: '#/components/schemas/Mysql_Mysql5Configuration'
        mysql8:
          $ref: '#/components/schemas/Mysql_Mysql8Configuration'
        postgresql15:
          $ref: '#/components/schemas/Postgresql_Postgresql15Configuration'
        postgresql14:
          $ref: '#/components/schemas/Postgresql_Postgresql14Configuration'
      type: object
    Cloud_UpdateRequest:
      properties:
        service_id:
          type: string
        display_name:
          type: string
        description:
          type: string
      type: object
    Cloud_UpdateResponse:
      example:
        service:
          price_month: 6.027456183070403
          description: description
          created_at: created_at
          mysql8:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 3
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 9
              param_default:
                key: param_default
              version: version
              cpu_count: 7
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          monitorable_resources:
          - monitorable_resources
          - monitorable_resources
          display_name: display_name
          mysql5:
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 5
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 5
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 2
            read_only: true
            host: host
            pma_installing: true
            pma_url: pma_url
            disk_left: disk_left
          postgresql14:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 7
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 6
              param_default:
                key: param_default
              version: version
              cpu_count: 1
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          unblocking: true
          price_day: 0.8008281904610115
          id: id
          manage_enabled: true
          postgresql15:
            webui_installing: true
            address_info:
              private:
              - network_id: network_id
                ip: ip
              - network_id: network_id
                ip: ip
              public:
              - ip: ip
              - ip: ip
            disk_used: disk_used
            configuration:
              memory: 1
              display_version: display_version
              param_config:
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              - string_value: "{}"
                set_value:
                  value:
                  - value
                  - value
                name: name
                enum_value:
                  value:
                  - value
                  - value
                float_value: "{}"
                integer_value: "{}"
                documentation_link: documentation_link
              disk_size: 7
              param_default:
                key: param_default
              version: version
              cpu_count: 4
            port: 1
            read_only: true
            host: host
            webui_url: webui_url
            disk_left: disk_left
          region: region
          configuration_id: configuration_id
          slug: slug
          migrating: true
          status: CREATING
        error:
          code: _
          message: message
      properties:
        service:
          $ref: '#/components/schemas/Cloud_Service'
        error:
          $ref: '#/components/schemas/Cloud_UpdateResponse_Error'
      type: object
    Cloud_UpdateResponse_Error:
      example:
        code: _
        message: message
      properties:
        message:
          type: string
        code:
          enum:
          - _
          - INVALID_DISPLAY_NAME
          - INVALID_DESCRIPTION
          format: enum
          type: string
      type: object
    MysqlStatistic_GetCpuDetailsResponse:
      example:
        date:
        - date
        - date
        system:
        - 1.4658129805029452
        - 1.4658129805029452
        softirq:
        - 7.061401241503109
        - 7.061401241503109
        idle:
        - 5.962133916683182
        - 5.962133916683182
        irq:
        - 2.3021358869347655
        - 2.3021358869347655
        iowait:
        - 5.637376656633329
        - 5.637376656633329
        user:
        - 0.8008281904610115
        - 0.8008281904610115
        nice:
        - 6.027456183070403
        - 6.027456183070403
      properties:
        date:
          items:
            type: string
          type: array
        user:
          items:
            format: double
            type: number
          type: array
        nice:
          items:
            format: double
            type: number
          type: array
        system:
          items:
            format: double
            type: number
          type: array
        idle:
          items:
            format: double
            type: number
          type: array
        iowait:
          items:
            format: double
            type: number
          type: array
        irq:
          items:
            format: double
            type: number
          type: array
        softirq:
          items:
            format: double
            type: number
          type: array
      type: object
    MysqlStatistic_GetCpuResponse:
      example:
        cpu:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
      properties:
        cpu:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
      type: object
    MysqlStatistic_GetDiskResponse:
      example:
        data_write:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
        data_read:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
      properties:
        data_read:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
        data_write:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
      type: object
    MysqlStatistic_GetDiskUsageResponse:
      example:
        disk_usage:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
      properties:
        disk_usage:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
      type: object
    MysqlStatistic_GetLoadAverageResponse:
      example:
        date:
        - date
        - date
        la5:
        - 6.027456183070403
        - 6.027456183070403
        la15:
        - 1.4658129805029452
        - 1.4658129805029452
        la1:
        - 0.8008281904610115
        - 0.8008281904610115
      properties:
        date:
          items:
            type: string
          type: array
        la1:
          items:
            format: double
            type: number
          type: array
        la5:
          items:
            format: double
            type: number
          type: array
        la15:
          items:
            format: double
            type: number
          type: array
      type: object
    MysqlStatistic_GetMemoryResponse:
      example:
        memory:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
      properties:
        memory:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
      type: object
    MysqlStatistic_GetNetworkResponse:
      example:
        data_rx_private:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
        data_tx_private:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
        data_tx:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
        data_rx:
          date:
          - date
          - date
          value:
          - 0.8008281904610115
          - 0.8008281904610115
      properties:
        data_rx:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
        data_tx:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
        data_rx_private:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
        data_tx_private:
          $ref: '#/components/schemas/Structures_StatisticSeriesData'
      type: object
    Mysql_ChangeAccessPasswordRequest:
      properties:
        service_id:
          type: string
        db_name:
          type: string
        host:
          type: string
        password:
          type: string
        save_pma_password:
          type: boolean
      type: object
    Mysql_ChangeAccessPasswordResponse:
      example:
        access:
          password: password
          host: host
        error:
          code: _
          message: message
      properties:
        access:
          $ref: '#/components/schemas/Mysql_Db_Access'
        error:
          $ref: '#/components/schemas/Mysql_ChangeAccessPasswordResponse_Error'
      type: object
    Mysql_ChangeAccessPasswordResponse_Error:
      example:
        code: _
        message: message
      properties:
        message:
          type: string
        code:
          enum:
          - _
          - INVALID_STATE
          - SERVICE_DISABLED
          - INVALID_ACCESS_PASSWORD
          - BLACKLISTED_ACCESS_PASSWORD
          format: enum
          type: string
      type: object
    Mysql_ConfigInfo:
      example:
        param:
          key: param
        param_config:
        - string_value: "{}"
          set_value:
            value:
            - value
            - value
          name: name
          enum_value:
            value:
            - value
            - value
          float_value: "{}"
          integer_value: "{}"
          documentation_link: documentation_link
        - string_value: "{}"
          set_value:
            value:
            - value
            - value
          name: name
          enum_value:
            value:
            - value
            - value
          float_value: "{}"
          integer_value: "{}"
          documentation_link: documentation_link
        param_default:
          key: param_default
      properties:
        param_default:
          additionalProperties:
            type: string
          type: object
        param_config:
          items:
            $ref: '#/components/schemas/Structures_ParamConfig'
          type: array
        param:
          additionalProperties:
            type: string
          type: object
      type: object
    Mysql_CreateAccessRequest:
      properties:
        service_id:
          type: string
        db_name:
          type: string
        host:
          type: string
        password:
          type: string
        save_pma_password:
          type: boolean
      type: object
    Mysql_CreateAccessResponse:
      example:
        access:
          password: password
          host: host
        error:
          code: _
          message: message
      properties:
        access:
          $ref: '#/components/schemas/Mysql_Db_Access'
        error:
          $ref: '#/components/schemas/Mysql_CreateAccessResponse_Error'
      type: object
    Mysql_CreateAccessResponse_Error:
      example:
        code: _
        message: message
      properties:
        message:
          type: string
        code:
          enum:
          - _
          - INVALID_STATE
          - SERVICE_DISABLED
          - INVALID_ACCESS_HOST
[...]
